
<div class="account">
  <a (click)="logout()" class="logout">Logout</a>
  <h1 class="h1">Accounts</h1>
  
  <div class="create">
    <div class="input">
      <label class="label">Select type</label>    
      <select class='select-option' required [(ngModel)]='cardSelected' (change)='onCardSelected($event)'>
          <option class='option' *ngFor='let card of cards' [value]="card.type">{{card.name}}</option>
      </select>
    </div>

    <button (click)="createAccount()" class="button">Create Account</button>
  </div>
  
  
  <div class="list-container">
    <div *ngIf="accounts.length > 0" class="table-grid" >
      <ul class="header-grid">
        <li class="li-text">Name</li>
        <li class="li-text">Type</li>
        <li class="li-text">Deposits</li>
        <li class="li-text">Withdrawals</li>
        <li class="li-text">Balance</li>
      </ul>
      <div class="body-grid">
        <ul *ngFor="let item of accounts" class="row-grid">
          <li class="li-text">{{item.name}}</li>
          <li class="li-text">{{item.type}}</li>
          <li class="li-text">{{item.deposits}}</li>
          <li class="li-text">{{item.withdrawals}}</li>
          <li class="li-text">{{item.balance}}</li>
        </ul>
      </div>
    </div>
  </div>

  

</div>
