<div class="register">
    <h1 class="h1">Register user</h1>
    <div class="input">
      <label class="label">Firstname</label>
      <input class="box" [(ngModel)]="userModel.firstName">
    </div>
  
    <div class="input">
      <label class="label">Lastname</label>
      <input class="box" [(ngModel)]="userModel.lastName">
    </div>

    <div class="input">
      <label class="label">Email</label>
      <input class="box" [(ngModel)]="userModel.email">
    </div>

    <div class="input">
      <label class="label">Password</label>
      <input class="box" type="password" [(ngModel)]="userModel.password">
    </div>
 
    <div class="submit">
        <button (click)="register()" class="button">Register</button>
        <button (click)="cancel()" class="button">Cancel</button>
    </div>
  
</div>
